@import "rc-slider/assets/index";
@import "../../scss/bootstrap/variables";

.e-slider {
  padding: 0 6px;
}

.rc-slider {
  padding: 6px 0;
  height: 16px;

  &-rail {
    background-color: $gray-300;
  }

  &-rail, &-step {
    left: 0;
    right: 0;
  }

  &-handle {
    margin-left: -9px;
    margin-top: -7px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 3px #ffffff;
    background-color: map-get($theme-colors, 'secondary');

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      border-color: #ffffff;
      box-shadow: none;
      outline: none;
    }
  }

  &-track {
    background-color: map-get($theme-colors, 'secondary');
  }

  &-tooltip {

    &-placement-top {
      padding: 4px 0 4px;
    }

    &-placement-top &-arrow {
      bottom: 0px;
      left: 50%;
      margin-left: -4px;
      border-width: 4px 4px 0;
      border-top-color: map-get($theme-colors, 'secondary');
    }

    &-inner {
      font-size: 75%;
      line-height: 1.2;
      padding: 2px 4px;
      border-radius: 2px;
      border: 1px solid map-get($theme-colors, 'secondary');
      background-color: map-get($theme-colors, 'secondary');
      height: auto;
      min-width: 0;
      box-shadow: none;
    }
  }
}

@each $color, $value in $theme-colors {
  .e-slider .#{$color}.rc-slider {
    .rc-slider-handle {
      background-color: $value;
    }

    .rc-slider-track {
      background-color: $value;
    }
  }

  .rc-slider-tooltip.#{$color} {
    .rc-slider-tooltip-inner {
      background-color: $value;
      border: 1px solid $value;
    }

    &.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
      border-top-color: $value;
    }
  }
}
