@keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}

.Select {
  position: relative;
}

.Select input::-webkit-contacts-auto-fill-button,
.Select input::-webkit-credentials-auto-fill-button {
  display: none !important;
}

.Select input::-ms-clear {
  display: none !important;
}

.Select input::-ms-reveal {
  display: none !important;
}

.Select,
.Select div,
.Select input,
.Select span {
  box-sizing: border-box;
}

.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
}

.Select.is-disabled > .Select-control {
  background-color: #e9ecef;
}

.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}

.Select.is-searchable.is-open > .Select-control {
  cursor: text;
}

.Select.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}

.Select.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b1bbc4 #ced4da #dde1e5;
}

.Select.is-open > .Select-control .Select-arrow {
  top: -2px;
  border-color: transparent transparent #868e96;
  border-width: 0 0.35rem 0.35rem;
}

.Select.is-focused > .Select-control {
  background: #fff;
}

.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #a7cdee #bddaf2 #bddaf2;
  box-shadow: 0 0 0 0.2rem rgba(60, 145, 218, 0.25);
}

.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right: 2.875rem;
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #495057;
}

.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}

.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover, .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #a7cdee;
  outline: none;
  text-decoration: underline;
}

.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  background: #fff;
}

.Select.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}

.Select.is-open .Select-arrow,
.Select .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #495057;
}

.Select.Select--rtl {
  direction: rtl;
  text-align: right;
}

.Select-control {
  background-color: #fff;
  border-color: #dde1e5 #ced4da #b1bbc4;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  color: #495057;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: calc(2.25rem + 2px);
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Select-control:hover {
  box-shadow: none;
}

.Select-control .Select-input:focus {
  outline: none;
  background: #fff;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #868e96;
  left: 0;
  line-height: 2.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Select-input {
  height: 2.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  vertical-align: middle;
}

.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 17px;
  /* For IE 8 compatibility */
  padding: -7.875rem 0 -3.875rem;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}

.is-focused .Select-input > input {
  cursor: text;
}

.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}

.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}

.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ced4da;
  border-right-color: #495057;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #868e96;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 1.125rem;
}

.Select-clear-zone:hover {
  color: #495057;
}

.Select-clear {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1;
}

.Select--multi .Select-clear-zone {
  width: 1.125rem;
}

.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}

.Select .Select-aria-only {
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left;
}

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 1.75rem;
  padding-right: 0.35rem;
}

.Select--rtl .Select-arrow-zone {
  padding-right: 0;
  padding-left: 0.35rem;
}

.Select-arrow {
  border-color: #868e96 transparent transparent;
  border-style: solid;
  border-width: 0.35rem 0.35rem 0.175rem;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative;
}

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Select-menu-outer {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-top-color: #e7eaed;
  box-shadow: none;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}

.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #495057;
  cursor: pointer;
  display: block;
  padding: 0.375rem 0.75rem;
}

.Select-option:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.Select-option.is-selected {
  background-color: #dee2e6;
  color: #16181b;
}

.Select-option.is-focused {
  background-color: #f2f4f6;
  color: #3d4349;
}

.Select-option.is-disabled {
  color: #adb5bd;
  cursor: default;
}

.Select-noresults {
  box-sizing: border-box;
  color: #495057;
  cursor: default;
  display: block;
  padding: 0.375rem 0.75rem;
}

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 0.75rem;
  padding: 0;
}

.Select--multi.Select--rtl .Select-input {
  margin-left: 0;
  margin-right: 0.75rem;
}

.Select--multi.has-value .Select-input {
  margin-left: 0.375rem;
}

.Select--multi .Select-value {
  background-color: #f5f6f8;
  border-radius: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #868e96;
  display: inline-block;
  font-size: 75%;
  margin-left: 0.375rem;
  margin-top: 0.375rem;
  vertical-align: top;
}

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}

.Select--multi .Select-value-label {
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: default;
  padding: 0.38em 0.565em;
}

.Select--multi a.Select-value-label {
  color: #868e96;
  cursor: pointer;
  text-decoration: none;
}

.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}

.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: -0.62em 0.565em 1.38em;
}

.Select--multi .Select-value-icon:hover, .Select--multi .Select-value-icon:focus {
  background-color: #e6eaed;
  color: #868e96;
}

.Select--multi .Select-value-icon:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.Select--multi.Select--rtl .Select-value {
  margin-left: 0;
  margin-right: 0.375rem;
}

.Select--multi.Select--rtl .Select-value-icon {
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.Select--multi.is-disabled .Select-value {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #ced4da;
}

.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.Select--multi.is-disabled .Select-value-icon:hover, .Select--multi.is-disabled .Select-value-icon:focus, .Select--multi.is-disabled .Select-value-icon:active {
  background-color: #f8f9fa;
}

@keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}

.Select.is-open > .Select-control {
  border-color: #ced4da;
}

.Select.is-open > .Select-control .Select-arrow {
  top: -0.35rem;
}

.Select-input {
  height: calc(2.25rem - 1px);
}

.Select-input > input {
  line-height: 2.25rem;
  padding: 0;
}

.Select-option.is-selected {
  background-color: #dee2e6;
  color: #16181b;
}

.Select--multi .Select-value {
  line-height: 1;
  display: inline-flex;
  flex-direction: row-reverse;
}

.Select--multi .Select-value-icon {
  padding: 0.38em 0.565em;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: 0;
}
