.firebaseui-form-actions {
    white-space: normal !important;
    text-align: center;
}

.mdl-shadow--2dp {
    box-shadow: none !important;
}

.firebaseui-container {
    border: 1px solid #e9ecef !important;
}

.firebaseui-subtitle, .firebaseui-title {
    color: #686e71 !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}