.e-navlist .nav {
  display: flex;
  flex-flow: column nowrap;
}

.e-navlist .nav-item:not(:last-child) {
  margin-bottom: 3px;
}

.e-navlist .nav-link.disabled {
  opacity: 0.5;
}

.e-navlist.e-navlist--active-bg .nav-link {
  color: #868e96;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: .25em;
  white-space: nowrap;
  transition: background-color 0.15s linear;
}

.e-navlist.e-navlist--active-bg .active > .nav-link,
.e-navlist.e-navlist--active-bg .nav-link.active,
.e-navlist.e-navlist--active-bg .nav-link:hover {
  color: #fff;
  background-color: #868e96;
}

.e-navlist.e-navlist--active-bold .nav-link {
  color: #686e71;
}

.e-navlist.e-navlist--active-bold .active > .nav-link,
.e-navlist.e-navlist--active-bold .nav-link.active {
  font-weight: bold;
}
