@import "../../scss/bootstrap/variables";

.e-panel {

  .card-title {
    display: flex;
    justify-content: space-between;

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      font-weight: bold;
      margin: 0;
    }

    small:empty {
      display: none;
    }
  }
}
